body {
  // sass-lint:disable no-vendor-prefixes
  -webkit-tap-highlight-color: transparent;
  @include apply-styles-set($font-sans-styles, 'body');
  background-color: get($grey-scale, 'white');
  color: get($grey-scale, 'abbey');
  font-family: get($font-family, 'sans');
  width: 100%;
}

button {
  font-family: get($font-family, 'sans');
}

input {
  appearance: none;

  &::placeholder {
    font-family: get($font-family, 'sans');
  }
}

b {
  font-weight: 800;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
aside,
div,
footer,
header,
hr,
input,
main,
section,
span {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// sass-lint:disable no-empty-rulesets
::selection {
  // sass-lint:disable no-color-literals
  // background-color: rgba(get($color-flow, 'text'), 0.99);
}
